@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,300;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}




 /* ------------HEADER & NAVIGATION --------------*/

.header{
     min-height: 100vh;
     width: 100%;
     background-image: url('./food\ 5.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     position: relative;
} 

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 8% 0 6%;
}

.logo{
    font-size: 30px; 
    font-weight: 500;
    cursor: pointer;
    color: #fff;
}

i{
    color: #d17;
}

nav ul li{
    display: inline-block;
    padding: 10px 25px;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    color: #d17;
    transition: 2s;
    transform: scale(1.1);
}

.life-header{
    color: #fff;
    margin: 20px;
    font-size: 75px;
    margin: 0;
}

.title{
    margin: 20px;
    color: #fff;
    font-size: 30px;
    margin: 0; 
    letter-spacing: 2px;
    font-weight: 400;
    font-style: italic;
}

h1 em {
    color: #d17;
}

.Header-Two{
     position: absolute;
     top: 40%;
     left: 5%;
}

 .form form{
    position: relative;
    max-width: 100%;
    width: 380px;
}

 .form form .form-one{
    display: block;
    width: 100%;
    padding: 14px 100px 14px 15px;
    border-radius: 30px;
    outline: none;
    border: none;
} 
.btn a{
    display: inline-block;
    position: absolute;
    outline: none;
    border: none;
    padding: 8px 20px;
    background-color: #d17;
    color: #fff;
    font-style: oblique;
    border-radius: 20px;
    top: 6px;
    right: 6px;
    text-decoration: none;
} 




/*---------- card------------ */

h1{
    margin: 100px 0 10px 0;
    font-size: 40px;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    padding: 30px;
    

}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    
}

.grid {
    display: grid;
    gap: 3%;
    grid-template-columns: repeat(3, 1fr);
}

.card{
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
}

.card-img{
    width: 100%;
    height: auto;
    padding: 0 20px;
    display: block;
    text-align: center;
    margin: 0 auto;
    flex-basis: 32%;
    overflow: hidden;
}

.card-img img{
    width: 100%;
}

.card-body{
    padding: 20px 20px 36px 20px;
    text-align: left;
}

.card-title{
    font-weight: 500;
    font-style: italic;
    text-decoration: underline;
    margin: 0 0 10px 0;
}

.click{
    text-decoration: none;
    color: #d17;
    font-weight: 700;
}

 .fieldset{
     width: 500px;
     text-align: center;
     vertical-align: middle;
 }

 .fieldset hr{
     margin: 0 auto 0 auto;
     width: 40%;
 }

 .left{
     float: left;
 }

 .right{
     float: right;
 }

 .row-wrapper{
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
 }

 .row-container{
     display: grid;
     gap: 15px;
     grid-template-rows: repeat(3, 1fr);
     margin: 30px 0 0 0;
 } 


.row-image{
    width: 100%;
    height: auto;
    padding: 0 20px 0;
    display: block;
    margin: 0 auto;
    flex-basis: 32%;
    overflow: hidden;
}
.row-img img{
    width: 100%;
}
.row-card{
    display: flex;
    overflow:hidden
    }

.row-header{
    font-weight: 500;
    font-style: oblique;
    color: #000;
}

.row-card-body a{
    text-decoration: none;
    color: #000;
}

.row-card-body{
    height: auto;
    margin: 0 10px 0 20px;
    text-align: justify;
}
.row-card-body p {
    width: 400px;
    word-break: break-all;
    text-align: left;
}




/* --------------------FOOTER------------------------ */

.footer{
    width: 100%;
    height: 10em;
    padding: 80px 10px ;
    font-weight: 500;
    background-color: #d3d3d3;
    margin: 8em auto ;
    color: #808080;
    text-align: center;
}


@media only screen and (max-width: 960px){
    .header{
        min-width:100%;
        background-position: center;
    }
    nav{
        padding: 17px;
    }
    .logo {
        font-size: 20px;
        display: flex;
    }
      nav ul li {
        font-size: 17px;
    }  
    .life-header{
    margin: 5px 0 0 0;
    font-size: 35px;
    max-width: 5px;
    display: inline;
    }
     .title{
    margin: 20px;
    font-size: 18px;
    margin: 0; 
    }
    .form form{
    width: 250px;
    margin: 10px 0 30px 0;
    align-items: right;

    }
     .form form .form-one{
    width: 100%;
    padding: 4px 50px 8px 10px;
    border-radius: 30px;   
    }

    .btn a{
    padding: 1px 10px;
    }

    h1{
    margin: 30px 0 10px 0;
    font-size: 25px;
    }

    .wrapper{
        max-width: 80%;
    }

    .grid {
    display: grid;
    gap: 3%;
    grid-template-columns: 1fr;
     }

    .row-wrapper{
    max-width: 80%;
     }

    .row-card{
    display: block;
    }

    .row-card-body p{
        width: 250px;
    }
    .row-img{
        width: 70%;
    }
}

 @media  (min-width: 820px) {
    .header{
        width: 100vw;
    }
    .life-header{
    margin: 5px 0 0 0;
    font-size: 50px;
    max-width: 5px;
    display: inline;
    }
    .header{
     height: 100vh;
     width: auto;
     background-image: url('./food\ 5.jpg');
     background-size: cover;
     background-repeat: no-repeat; 
     background-position: center;
     position: relative; 
     /* padding: 0 25px;
     margin-left: -25px;
     box-sizing: border-box; */
} 
} 


